---
Language:        Cpp
ColumnLimit:     80
AccessModifierOffset: -4
IndentWidth:     4
TabWidth:        8
UseTab:          Never
Standard: "c++17"



IndentCaseLabels: true
IndentCaseBlocks: true
BreakBeforeBraces: Linux
BinPackParameters: AlwaysOnePerLine
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
